.button {
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
  border: 1px solid;
  text-decoration: none;
  cursor: pointer;
  display: block;

  &:focus {
    outline: 4px solid var(--sky-200);
  }

  &--primary {
    color: var(--sky-50);
    border-color: var(--sky-500);
    background-color: var(--sky-500);
    transition: 0.2s border-color, 0.2s background-color;
  }

  &--primary:hover {
    border-color: var(--sky-600);
    background-color: var(--sky-600);
    transition: 0.2s border-color, 0.2s background-color;
  }

  &--secondary {
    color: var(--sky-900);
    border-color: var(--sky-300);
    background-color: var(--sky-100);
    transition: 0.2s border-color, 0.2s background-color;
  }

  &--secondary:hover {
    background-color: var(--sky-200);
    transition: 0.2s border-color, 0.2s background-color;
  }
}
