.form {
  display: flex;
  flex-direction: column;

  &__section {
    display: flex;
    flex-direction: column;
    margin: 0.25rem 0;
  }

  &__commit {
    margin-top: 1rem;
  }

  &__button {
    width: fit-content;
  }
}
