.textbox {
  border-radius: 0.25rem;
  border: 1px solid var(--zinc-400);
  color: var(--zinc-800);
  padding: 0.25rem;

  &:focus {
    outline: none;
    border-color: var(--sky-500);
    box-shadow: 0 0 0 4px var(--sky-200);
  }
}
