@use './error';

.validation-summary-errors {
  ul {
    list-style: none inside url(data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2016%2015.998%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22m9.8782%207.9977%205.7278-5.7145a1.3375%201.3375%200%201%200-1.8915-1.8915l-5.7145%205.7278-5.7145-5.7278a1.3375%201.3375%200%200%200-1.8915%201.8915l5.7278%205.7145-5.7278%205.7145a1.332%201.332%200%200%200%200%201.8915%201.332%201.332%200%200%200%201.8915%200l5.7145-5.7278%205.7145%205.7278a1.332%201.332%200%200%200%201.8915%200%201.332%201.332%200%200%200%200-1.8915z%22%20fill%3D%22%23dc2626%22%2F%3E%3C%2Fsvg%3E);
    padding: 0;
    margin: 0;

    li {
      @extend .error;
    }
  }
}
