@use './error';

.validation-summary-errors {
  ul {
    list-style: none inside url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KIDxwYXRoIGQ9Im0yMy4xMzMgMTguODIyLTYuNjgxOS03LjAzNzggNi42NzA3LTYuNTk5MWMxLjE3NzItMS4xODQ0IDEuMTc3Mi0zLjEwNTYgMC00LjI5MTItMS4xNzYyLTEuMTg1LTMuMDgzMS0xLjE4NDQtNC4yNTgzIDBsLTYuNjcxOCA2LjU5OTEtNy4wNTA5LTYuNjA0NGMtMS4xNzY3LTEuMTg1LTMuMDgzNi0xLjE4NS00LjI1OTIgMC0xLjE3NTcgMS4xODU1LTEuMTc1NyAzLjEwNTYgMCA0LjI5MTJsNy4wNTE1IDYuNjA0NC03LjA4MDYgNy4wMzc3Yy0xLjE3NjcgMS4xODYtMS4xNzY3IDMuMTA2MSAwIDQuMjkxNyAxLjE3NjIgMS4xODQ0IDMuMDgyNyAxLjE4NDQgNC4yNTgzIDBsNy4wODEyLTcuMDM4MSA2LjY4MzEgNy4wMzc4YzEuMTc2MiAxLjE4NSAzLjA4MjcgMS4xODUgNC4yNTgzIDAgMS4xNzcyLTEuMTg2IDEuMTc3MS0zLjEwNzcgMC00LjI5MTJ6IiBmaWxsPSIjZGMyNjI2Ii8+Cjwvc3ZnPgo=);
    padding: 0;
    margin: 0;

    li {
      @extend .error;
    }
  }
}
