<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Account confirmation</title>
  
</head>

<body style="background-color: #e4e4e7; margin: 0;">
<table align="center" valign="top" border="0" cellpadding="0" cellspacing="0" width="600">
  <tbody>
  <tr>
    <td align="center" valign="middle" style="background-color: #0284c5; color: #f4f4f5;">
      <h1 style="margin: 0; padding: 10px 10px 20px;">Hi @Model.DisplayName! Welcome to CanaryOverflow</h1>
    </td>
  </tr>
  <tr>
    <td align="left" valign="top" style="background-color: #f4f4f5; color: #27272a;">
      <p style="padding: 10px;">Thanks you so much for sign up to CanaryOverflow community. You registration is almost done! Please confirm your account by clicking <a href="@Model.ConfirmationUri" style="color: #0284c5;">here</a>.</p>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>
