@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
  ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>
<partial name="/Features/Auth/_StatusMessage.cshtml" model="@Model?.StatusMessage" />
