@using Microsoft.AspNetCore.Mvc.TagHelpers
@model CanaryOverflow.Service.Mvc.Features.Auth.ResendEmailConfirmationViewModel
@{
  ViewData["Title"] = "Resend email confirmation";
}

<h1>@ViewData["Title"]</h1>
<h2>Enter your email.</h2>
<hr/>
<div class="row">
  <div class="col-md-4">
    <form method="post" asp-controller="Authn" asp-action="ResendEmailConfirmation">
      <div asp-validation-summary="All" class="text-danger"></div>
      <div class="form-floating">
        <input asp-for="Email" class="form-control" aria-required="true"/>
        <label asp-for="Email" class="form-label"></label>
        <span asp-validation-for="Email" class="text-danger"></span>
      </div>
      <button type="submit" class="w-100 btn btn-lg btn-primary">Resend</button>
    </form>
  </div>
</div>
