.form {
  display: flex;
  flex-direction: column;
  border-radius: 0.25rem;
  background-color: white;
  padding: 1rem;
  width: 250px;
  box-shadow: 0 0 20px 0 var(--zinc-300);
  margin: 1.25rem 1.25rem 2.25rem 1.25rem;
}

.form__links {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--zinc-800);
}

.form__section {
  display: flex;
  flex-direction: column;
  margin: 0.25rem 0;
}

.label {
  cursor: pointer;
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 0.25rem;
  color: var(--zinc-800);
}

.form__input {
  padding: 0.25rem;
}

.input {
  border-radius: 0.25rem;
  border: 1px solid var(--zinc-400);
  font-size: 13px;
  color: var(--zinc-800);
}

.input:focus {
  outline: none;
  border-color: var(--sky-500);
  box-shadow: 0 0 0 4px var(--sky-200);
}

.error {
  font-size: 14px;
  color: var(--red-600);
}

.form__commit {
  margin-top: 1rem;
}

.form__link {
  color: var(--sky-600);
  text-decoration: none;
}

.form__link:hover {
  color: var(--sky-400);
}
