<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>@ViewData["Title"]</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>

<body class="flex flex-col bg-zinc-50 min-h-screen font-roboto">

<partial name="_Header.cshtml"/>

<div class="grow flex">
  <aside class="w-1/6 border-r border-zinc-200 sticky top-0 z-50">
    <div class="my-4 ml-4 text-zinc-600 overflow-x-clip">
      <div class="flex flex-col">
        <span class="uppercase">public</span>
        <a class="my-1 p-1 hover:text-zinc-900" href="">
          <span class="ml-4">Questions</span>
        </a>
        <a class="my-1 p-1 hover:text-zinc-900" href="">
          <span class="ml-4">Tags</span>
        </a>
        <a class="my-1 p-1 hover:text-zinc-900" href="">
          <span class="ml-4">Users</span>
        </a>
      </div>
      <div class="flex flex-col">
        <span class="uppercase">find a job</span>
        <a class="my-1 p-1 hover:text-zinc-900" href="">
          <span class="ml-4">Jobs</span>
        </a>
        <a class="my-1 p-1 hover:text-zinc-900" href="">
          <span class="ml-4 ">Companies</span>
        </a>
      </div>
    </div>
  </aside>
  <main class="relative w-5/6 flex items-center min-h-full justify-center">@RenderBody()</main>
</div>

<footer class="flex bg-zinc-700">
  <svg class="w-50px h-40px m-6 shrink-0" viewBox="0 0 519.79 424.27" xmlns="http://www.w3.org/2000/svg">
    <use href="#canaryLogoGroup"/>
  </svg>
  <div class="flex flex-col my-8 mr-6 shrink-0">
    <span class="mb-3 uppercase font-bold text-zinc-300">canary overflow</span>
    <span class="mb-3">
      <a class="text-zinc-400 hover:text-zinc-300" href="">Questions</a>
    </span>
    <span>
      <a class="text-zinc-400 hover:text-zinc-300" href="">Jobs</a>
    </span>
  </div>
  <div class="flex flex-col my-8 mr-6 shrink-0">
    <span class="mb-3 uppercase font-bold text-zinc-300">company</span>
    <span class="mb-3">
      <a class="text-zinc-400 hover:text-zinc-300" href="">About</a>
    </span>
    <span>
      <a class="text-zinc-400 hover:text-zinc-300" href="">Contact Us</a>
    </span>
  </div>
  <span class="text-zinc-300 mb-8 mr-8 self-end w-full text-right">© 2022 / Canary Inc.</span>
</footer>

</body>
</html>
