<footer class="footer">
  <div class="column">
    <a asp-controller="Home" asp-action="Index">
      <svg class="logo" viewBox="0 0 519.79 424.27" xmlns="http://www.w3.org/2000/svg">
        <use href="#canary-logo-group"/>
      </svg>
    </a>
  </div>
  <div class="column">
    <h5 class="column__title">
      <a class="column__link" asp-controller="Home" asp-action="Index">canary overflow</a>
    </h5>
    <ul class="list">
      <li class="list__item">
        <a class="list__link" href="">Questions</a>
      </li>
      <li class="list__item">
        <a class="list__link" href="">Jobs</a>
      </li>
    </ul>
  </div>
  <div class="column">
    <h5 class="column__title">
      <a class="column__link" href="">company</a>
    </h5>
    <ul class="list">
      <li class="list__item">
        <a class="list__link" href="">About</a>
      </li>
      <li class="list__item">
        <a class="list__link" href="">Contact Us</a>
      </li>
    </ul>
  </div>
  <div class="footer__copyright">
    <span>© 2022 / Canary Inc.</span>
  </div>
</footer>
