<footer class="footer">

  <div class="footer__column">
    <a asp-controller="Home" asp-action="Index" class="logo">
      <svg class="logo" viewBox="0 0 519.79 424.27" xmlns="http://www.w3.org/2000/svg">
        <use href="#canary-logo-group"/>
      </svg>
    </a>
  </div>

  <div class="footer__column">
    <h5 class="column__title">
      <a asp-action="Index" asp-controller="Home" class="column__title-link">canary overflow</a>
    </h5>
    <ul class="column__list">
      <li class="column__list-item">
        <a class="column__list-link" href="">Questions</a>
      </li>
      <li class="column__list-item">
        <a class="column__list-link" href="">Jobs</a>
      </li>
    </ul>
  </div>

  <div class="footer__column">
    <h5 class="column__title">
      <a class="column__title-link" href="">company</a>
    </h5>
    <ul class="column__list">
      <li class="column__list-item">
        <a class="column__list-link" href="">About</a>
      </li>
      <li class="column__list-item">
        <a class="column__list-link" href="">Contact Us</a>
      </li>
    </ul>
  </div>

  <div class="footer__copyright">
    <span>© 2022 / Canary Inc.</span>
  </div>
</footer>
