.footer {
  display: flex;
  background-color: var(--zinc-700);
  color: var(--zinc-300);
  padding: 1rem 2.5rem 2rem;
}

.column {
  margin-right: 3rem;
}

.column__title {
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  padding-bottom: 1rem;
}

.column__link {
  text-decoration: none;
  color: var(--zinc-300);
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list__item {
  padding: 0.25rem 0;
}

.list__link {
  text-decoration: none;
  color: var(--zinc-400);
}

.list__link:hover {
  color: var(--zinc-300);
}

.footer__copyright {
  flex-grow: 1;
  display: flex;
  justify-content: end;
  align-items: end;
}
