.header {
  display: flex;
  align-items: center;
  background-color: var(--zinc-100);
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
}

.header__link {
  flex-shrink: 0;
  padding: 0.4em 0.6em;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--zinc-800);
}

.header__link:hover {
  background-color: var(--zinc-200);
}

.header__text_xlarge {
  font-size: 20px;
}

.header__text_bold {
  font-weight: 700;
}

.logo {
  width: 50px;
  height: 40px;
}

.logo_lemon {
  fill: rgb(254 227 13);
}

.logo_macaroni-and-cheese {
  fill: rgb(251 177 126);
}

.logo_black-haze {
  fill: rgb(231 236 234);
}

.logo_mine-shaft {
  fill: rgb(49 46 46);
}

.header__search-box {
  flex-grow: 1;
  padding: 0 0.5rem;
}

.search-box__form {
  display: flex;
  align-items: center;
  position: relative;
  color: var(--zinc-800);
}

.search-box__icon {
  position: absolute;
  padding-left: 0.5rem;
  height: 20px;
  fill: var(--zinc-400);
  pointer-events: none;
}

.search-box__input {
  padding: 0.5rem 0.5rem 0.5rem 2rem;
  border-radius: 0.25rem;
  width: 100%;
  border: 1px solid var(--zinc-400);
  font-size: 13px;
}

.search-box__input:focus {
  outline: none;
  border-color: var(--sky-500);
  box-shadow: 0 0 0 4px var(--sky-200);
}

.header__controls {
  flex-shrink: 0;
  display: flex;
  gap: 4px;
  padding: 0 0.6em;
}

.button {
  padding: 0.4rem 0.8rem;
  border-radius: 0.25rem;
  border-width: 1px;
  border-style: solid;
  text-decoration: none;
  font-size: 13px;
}

.button:focus {
  outline: none;
  box-shadow: 0 0 0 4px var(--sky-200);
}

.button_secondary {
  color: var(--sky-900);
  border-color: var(--sky-300);
  background-color: var(--sky-100);
}

.button_secondary:hover {
  background-color: var(--sky-200);
}

.button_primary {
  color: var(--sky-50);
  border-color: var(--sky-500);
  background-color: var(--sky-500);
}

.button_primary:hover {
  border-color: var(--sky-600);
  background-color: var(--sky-600);
}
