<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <title>@ViewData["Title"]</title>
  <link asp-append-version="true" data-turbo-track="reload" href="~/css/styles.css" rel="stylesheet"/>
  <script asp-append-version="true" asp-src-include="~/js/*.js" data-turbo-track="reload" defer></script>
</head>

<body>

<div class="container container--centered">
  <partial name="_Header.cshtml"/>

  <main>@RenderBody()</main>
</div>

</body>
</html>
