<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <title>@ViewData["Title"]</title>
  <link asp-append-version="true" href="~/css/styles.css" rel="stylesheet"/>
  <script asp-append-version="true" defer src="~/js/vendor.js"></script>
  <script asp-append-version="true" defer src="~/js/main.js"></script>
</head>

<body>
<partial name="_Header.cshtml"/>

<div class="container">

  <aside class="container__sidebar">

    <nav>
      <section class="group">
        <h5 class="group__title">public</h5>
        <ul class="menu-list">
          <li>
            <a asp-action="Index" asp-controller="Home" class="group__link">Questions</a>
          </li>
          <li>
            <a class="group__link" href="">Tags</a>
          </li>
          <li>
            <a class="group__link" href="">Users</a>
          </li>
        </ul>
      </section>
      <section class="group">
        <h5 class="group__title">find a job</h5>
        <ul class="menu-list">
          <li>
            <a class="group__link" href="">Jobs</a>
          </li>
          <li>
            <a class="group__link" href="">Companies</a>
          </li>
        </ul>
      </section>
    </nav>

  </aside>

  <main class="container__content">@RenderBody()</main>

</div>

<partial name="_Footer.cshtml"/>

</body>
</html>
