<div class="notification" data-controller="notification" data-notification-hidden-class="notification_hidden" data-notification-is-hidden-value="true">
  <turbo-frame class="notification__text" data-action="turbo:frame-load->notification#open" id="notification-message"></turbo-frame>
  <div class="notification__button">
    <button class="button__close" data-action="notification#close">
      <svg class="button__icon" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg">
        <path d="M21.2471 0H0.752902C0.337099 0 0 0.337099 0 0.752902V21.2471C0 21.663 0.337099 22 0.752902 22H21.2471C21.663 22 22 21.663 22 21.2471V0.752902C22 0.337099 21.663 0 21.2471 0ZM20.4942 20.4942H1.5058V1.5058H20.4942V20.4942Z"/>
        <path d="M5.34412 16.6559C5.49109 16.8029 5.68383 16.8763 5.87647 16.8763C6.06912 16.8763 6.26186 16.8029 6.40883 16.6559L11 12.0649L15.591 16.6559C15.7381 16.8029 15.9307 16.8763 16.1235 16.8763C16.3161 16.8763 16.5089 16.8029 16.6559 16.6559C16.95 16.3618 16.95 15.8851 16.6559 15.5911L12.065 11.0001L16.6561 6.4091C16.9502 6.11497 16.9502 5.63833 16.6561 5.34429C16.362 5.05036 15.8854 5.05036 15.5913 5.34429L11.0002 9.93529L6.40893 5.34389C6.11489 5.04996 5.63815 5.04996 5.34422 5.34389C5.05019 5.63803 5.05019 6.11466 5.34422 6.4087L9.93532 10.9999L5.34412 15.5911C5.05009 15.8851 5.05009 16.3618 5.34412 16.6559Z"/>
      </svg>
    </button>
  </div>
</div>
