@{
  Layout = "_Layout";
  ViewData["Title"] = "Register confirmation";
}

<div class="flex flex-col items-center">
  <div class="flex items-center mb-3">
    <svg class="w-50px h-40px m-1 shrink-0" viewBox="0 0 519.79 424.27" xmlns="http://www.w3.org/2000/svg">
      <use href="#canaryLogoGroup"/>
    </svg>
    <span class="text-xl">canary <span class="font-bold">overflow</span></span>
  </div>
  <div class="flex flex-col">
    <h1>You're almost done!</h1>
    <span>Please check your email to confirm your account.</span>
  </div>
</div>
